Django==1.7.3
bpython==0.13.2
django-extensions==1.4.9
sqlparse==0.1.14





Pygments==2.0.2
pycparser==2.10
enum34==1.0.4
gnureadline==6.3.3
ndg-httpsclient==0.3.3
psycopg2==2.5.4
pyOpenSSL==0.14
pyasn1==0.1.7
requests==2.5.1
six==1.9.0
wsgiref==0.1.2
cffi==0.8.6
cryptography==0.7.2
